* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.65;
}

.social a:hover {
  transform: scale(1.3);
}

.landing-navbar {
  transition: all .2s;
}

.landing-navbar .nav-link {
  font-size: .894rem;
}

/*
 * Content
*/

.landing-block-skills {
  padding-top: 11rem;
  padding-bottom: 11rem;
} 

.landing-block-proyect {
  padding-top: 6rem;
  padding-bottom: 13rem;
} 

.landing-block-about {
  padding-top: 6rem;
  padding-bottom: 12rem;
}

hr.landing-separator {
  margin: 0 0 1.25rem 0;
  width: 2rem;
  border-width: 1px;
  text-align: left;
}

#twitter {
  color: #1DA1F2;
}

#instagram {
  color: #000000;
}

#linkedin {
  color: #0077B5;
}

#github {
  color: #000000;
}

#mail {
  color: #D14235;
}

.social a {
  display: inline-flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.4s;
  font-size: x-large;
}

.cor {
  color: crimson;
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: index;
}